@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {

}

p {

}

.sketchy {
    padding: 5px 1rem;
    /*display: inline-block;*/
    border: 1px solid #333333;
    /*font-size: 2.5rem;*/
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.3ch;*/
    background: #ffffff;
    position: relative;

    &::before {
        content: '';
        border: 1px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.025) rotate(1deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}
