@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@font-face {
    font-family: "Courgette-Regular";
    src: url("/Courgette-Regular.ttf");
}


body {
    /*background-color: aliceblue;*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(0 0 0 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.mockup-code::-webkit-scrollbar {
    display: none;
}

.sketchy {
    padding: 5px 1rem;
    /*display: inline-block;*/
    border: 1px solid #333333;
    /*fonts-size: 2.5rem;*/
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.3ch;*/
    background: #ffffff;
    position: relative;

    &::before {
        content: '';
        border: 1px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.025) rotate(1deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}
