.index {
    position: fixed;
    width: 250px;
    /*max-width: 250px;*/
    padding: 1rem;
    top: 20%;
    right: 0;
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: x-small;

    /*text-decoration: underline;*/

    background-color: #ffffff;
    color: blue;

    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.index a {
    cursor: pointer;
    /*display: inline-block;*/
    overflow-x: hidden;
    white-space:nowrap;
    width: 100%;
    text-overflow:ellipsis;
}

.index .h2 {
    padding-left: 15px;
}

.index .h3 {
    padding-left: 30px;
}

.active {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
