.index {
    /*overflow: hidden;*/
    position: absolute;
    width: 300px;
    /*height: 40px;*/
    top: 0;
    right: -350px;
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: x-small;
    color: #ea4c89;
}

.index a {
    display: inline-block;
    padding: 0 0;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    cursor: pointer;
}

.index .h2 {
    margin-left: 1.5em;
}

.index .h3 {
    margin-left: 3em;
}
