.index {
    position: fixed;
    width: 220px;
    padding: 1rem 1rem 2rem 1rem;
    top: 10%;
    right: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: x-small;
    background-color: #ffffff;
    border-radius: 6px;
}

.index a {
    cursor: pointer;
    /*display: inline-block;*/
    overflow-x: hidden;
    white-space:nowrap;
    width: 100%;
    text-overflow:ellipsis;
}

.index .h2 {
    padding-left: 15px;
}

.index .h3 {
    padding-left: 30px;
}

.active {
    color: #011fea;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
